<div class="card">
  <h1>COVID-19</h1>
</div>
<br />

<mat-form-field appearance="fill">
  <mat-label>Country</mat-label>
  <mat-select
    [(ngModel)]="country"
    (ngModelChange)="getCountry($event)"
    Country="country"
  >
    <mat-option *ngFor="let country of countries" [value]="country.Slug">
      {{ country.Country }}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>

<button mat-stroked-button (click)="getData()">
  Get the data
</button>

<div class="row">
  <div class="col-sm-4">
    <div class="card text-white bg-warning mb-3" style="width: 18rem">
      <div class="card-body">
        <h2 class="card-title">Total Confirmed :{{ confirmed }}</h2>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-white bg-success mb-3" style="width: 18rem">
      <div class="card-body">
        <h2 class="card-title">Total Recovery :{{ recovered }}</h2>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-white bg-danger mb-3" style="width: 18rem">
      <div class="card-body">
        <h2 class="card-title">Total Deaths :{{ deaths }}</h2>
      </div>
    </div>
  </div>
</div>
<br />
<br />

<div id="divChart" class="m-4">
  <canvas id="myChart"></canvas>
</div>
